/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
    box-sizing: inherit;
}
html, body {
    max-width: 100%;
 /*   overflow-x: hidden;*/
}

body {
    margin: 0;
    font-family: 'IRANSansWeb';
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.8;
    color: #4b566b;
    background-color: #fafafa;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    text-decoration: none;
}



@font-face {
    font-family: "IRANSansWeb";
    font-weight: 400;
    src: url("assets/fonts/iranSans/IRANSansWeb_Medium.woff2") format("woff2");
}

@font-face {
    font-family: "IRANSansWeb";
    font-weight: 600;
    src: url("assets/fonts/iranSans/IRANSansWeb_Medium.woff2") format("woff2");
}

@font-face {
    font-family: "IRANSansWeb";
    font-weight: 700;
    src: url("assets/fonts/iranSans/IRANSansWeb_Bold.woff2") format("woff2");
}

.btn {
    background-color: #aaaaaa;
    color: white;
    border-radius: 0.5em;
    padding: 0.6em 0.7em;
    flex: 1;
    font-size: 0.80rem;
    max-width: 100px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    box-shadow: 0 0.8rem 0.525rem -0.475rem rgb(0 0 0 / 20%) !important;
    transition: all 0.2s;
    cursor: pointer;
    appearance: none;
    border: none;
    margin: 0 0.5em;
}


.btn:hover {
    opacity: 0.7;
}

.btn-active {
    box-shadow: none !important;
    background-color: rgb(42, 126, 236);
}

.btn-success {
    background-color: rgb(11, 155, 87);

}


.course {
    background-color: white;
    box-shadow: 0 5px 10px #eee;
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
}

.course__image {
    max-width: 150px;
    border: 3px solid #eee;
    margin-left: 1em;
}

.course__wrapper {
    width: 100%;
    max-width: 800px;
    margin:auto;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
}

.course__title {
    font-weight: bold;
}

.course__description {
    font-weight: normal;
    color: #888;
    font-size: 0.9rem;
}

.course__tab {
    display: flex;
}

input[type="search"],
input[type="text"],
select,
textarea {
    display: block;
    padding: .625rem 1rem;
    font-size: .9375rem;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #eee;
    font-family: inherit;
    color: #777;
    border-radius: .3125rem;
    transition: border-color 0.15s ease-in-out;
    box-shadow: 0 5px 10px #eee;
}

.lessons {
    margin-top: 2em;
    background-color: white;
    min-height: 300px;
    font-size: 0.9rem;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0 5px 10px #eee;
}

.lesson  {
    border-bottom: 1px solid #eee;
    padding: 0.8em 1em;
}



.lesson:last-of-type {
    border-bottom: initial;
}